.tabs.tabs--primary {
	background: $color-darker-gray;
	margin: 0;
	border: 0;
	padding: 20px 20px 0 30px;
	margin-left: 80px;
	
	li {
		float: none;
		display: inline-block;
		margin: 0;
		
		a {
			display: inline-block;
			padding: 0 10px;
			height: 30px;
			line-height: 30px;
			background: $color-medium-gray;
			color: $color-white;
			
			&.active {
				background: $color-white;
				color: $color-dark-gray;
			}
		}
	}
}

.messages {
	margin-left: 90px;
	margin-right: 10px;
}