body.front {

	.site-logo {
		@include get-sprite($icons-sprites, logo-large-black);
	
	  @include breakpoint($bp-desk) {
			@include get-sprite($icons-sprites, logo-small-black);
	  }	
	}
	
	.landing-header {
		height: 552px;
		background-position: 50% 50%;
		
	  @include breakpoint($bp-desk) {
			height: 802px;
		}
		
		.field--pretitle {
			color: $color-green;
		}

		.field--title-field {

			h1 {
				color: $color-green;
				text-transform: none;
			}
		}

		.field--subtitle {
			width: 60%;
			color: $color-black;
	
		  @include breakpoint($bp-desk) {
				width: 38%;
				@include rem(margin-left, 20px);
		  }

		  @include breakpoint($bp-desk) {
				width: 28%;
		  }
		}
	
		.field--cta {
			
		  @include breakpoint($bp-desk) {
				@include rem(margin-left, 20px);
		  }
		}
	}
}

// First Home Bean
.block--bean-home-first {
	height: 600px;
	background-color: $color-green;
	
  @include breakpoint($bp-desk) {
		height: 768px;
  }
	
	.field--image {
		
		img {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
	
	.field--body {
		position: absolute;
		top: 0;
		left: 0;
		padding: 8%;
		color: $color-white;
		
	  @include breakpoint($bp-desk) {
			padding: 4% 11%;
	  }
	}
	
	h3 {
		margin-bottom: 10px;
	}
	
	.subtitle {
		@include rem(font-size, 18px);
		margin-bottom: 20px;
		
	  @include breakpoint($bp-desk) {
			@include rem(font-size, 20px);
			@include rem(margin-bottom, 45px);
	  }
	}
	
	.column-one,
	.column-two {
		@include rem(font-size, 13px);
		@include rem(line-height, 16px);
		@include rem(margin-bottom, 20px);

	  @include breakpoint($bp-desk) {
			@include rem(font-size, 16px);
			@include rem(line-height, 22px);
			max-width: 48%;
			float: left;
	  }
	}
	
	.column-two {

	  @include breakpoint($bp-desk) {
			float: right;
	  }
	}
}

// Second Home Bean
.block--bean-home-second {
	background: $color-lighter-gray;
	padding: 6% 5%;

  @include breakpoint($bp-desk) {
		padding: 0;
		height: 735px;
  }
	
	.field--image {
		display: none;

	  @include breakpoint($bp-desk) {
			display: block;
	  }
		
		img {
			position: absolute;
			bottom: 0;
			left: 0;
			width: auto;
			max-width: none;

		  @include breakpoint($bp-desk) {
				margin-left: -20%;
		  }

		  @include breakpoint($bp-full) {
				margin-left: 0;
		  }
		}
	}
	
	.field--body {
		@include rem(margin-bottom, 20px);

	  @include breakpoint($bp-desk) {
			position: absolute;
			top: 0;
			left: 0;
			padding: 7% 5% 0 50%;
	  }

	  @include breakpoint($bp-full) {
			padding: 7% 5% 0 60%;
	  }
	}
	
	h3 {
		color: $color-green;
		font-family: $QLight;
		@include rem(margin-bottom, 10px);

	  @include breakpoint($bp-desk) {
			margin-bottom: 0;
	  }
	}
	
	.subtitle {
		@include rem(font-size, 20px);
		@include rem(margin-bottom, 10px);
		color: $color-green;

	  @include breakpoint($bp-desk) {
			@include rem(margin-bottom, 20px);
	  }
	}
	
	.text {
		@include rem(font-size, 13px);
		line-height: 16px;
		@include rem(margin-bottom, 10px);
		
	  @include breakpoint($bp-desk) {
			@include rem(font-size, 16px);
			line-height: 22px;
			margin-bottom: 0;
	  }
	}

	.field--content-image {
		float: left;

	  @include breakpoint($bp-desk) {
			float: none;
			position: absolute;
			top: 60%;
			left: 48%;
			margin-bottom: 0;
	  }

	  @include breakpoint($bp-full) {
			left: 58%;
			top: 54%;
	  }
	}

	.field--cta {
		float: left;
		margin: 70px 0 0 20px;

	  @include breakpoint($bp-desk) {
			float: none;
			margin: 0;
			position: absolute;
			top: 68%;
			left: 73%;
	  }

	  @include breakpoint($bp-full) {
			top: 62%;
	  }
	}
}

.block--views-news-block-1 {
	position: relative;
	clear: both;
	background: $color-green;
	padding: 5%;
	
	@include breakpoint($bp-full) {
		float: left;
		width: 50%;
		height: 322px;
		padding: 5% 8%;
	}

	h2 {
		position: relative;
		color: $color-white;
		font-family: $QReg;
		@include rem(font-size, 16px);
		text-transform: uppercase;
		@include rem(padding-left, 35px);
		
		@include breakpoint($bp-full) {
			position: absolute;
			top: 25px;
			left: 30px;
		}
		
		&:before {
			content: "";
			@include get-sprite($icons-sprites, icon-news);
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	
	.views-field-title {
		@include rem(font-size, 21px);
		@include rem(margin-bottom, 30px);

		a {
			color: $color-white;
			text-decoration: none;
		}
	}
	
	.views-field-view-node {
		@include rem(font-size, 21px);
		
		a {
			color: $color-white;
			text-decoration: none;
			display: inline-block;
			position: relative;
			@include rem(padding-right, 25px);
			
			&:after {
				content: "";
				@include get-sprite($icons-sprites, icon-arrow-circle);
				position: absolute;
				top: 4px;
				right: 0;
			}
		}
	}
}

.block--views-instagram-block-4, 
.block--views-blurbs-block {

	@include breakpoint($bp-tab) {
		float: left;
		width: 50%;
	}

	@include breakpoint($bp-full) {
		width: 25%;
		height: 322px;
		overflow: hidden;
	}
}

.block--views-instagram-block-5, 
.block--views-blurbs-block-1 {

	@include breakpoint($bp-tab) {
		float: left;
		width: 50%;
	}

	@include breakpoint($bp-full) {
		width: 25%;
		height: 322px;
		overflow: hidden;
	}
}

.block--views-tweets-block-1 {
	position: relative;
	clear: both;
	background: $color-green;
	padding: 5% 10%;
	color: $color-white;
	@include rem(font-size, 21px);
	
	@include breakpoint($bp-full) {
		float: left;
		width: 50%;
		height: 322px;
		clear: none;
	}

	h2 {
		position: relative;
		color: $color-white;
		font-family: $QReg;
		@include rem(font-size, 16px);
		text-transform: uppercase;
		@include rem(padding-left, 35px);
		
		@include breakpoint($bp-full) {
			position: absolute;
			top: 25px;
			left: 30px;
		}
		
		&:before {
			display: block;
			font-family: $fa;
			content: "\f099";
			text-indent: 0;
			font-size: 25px;
			position: absolute;
			top: -5px;
			left: 0;
		}
	}
	
	.views-slideshow-controls-top {
		position: absolute;
		
	}
}

.block--bean-home-third {

	@include breakpoint($bp-desk) {
		float: left;
		width: 50%;
	}
	
	.field--image {
		
		img {
			float: left;
			width: 100%;
		}
	}
}

// Fourth Home Bean
.block--bean-home-fourth {
	padding: 10% 5%;
	color: $color-green;

	@include breakpoint($bp-desk) {
		float: right;
		width: 50%;
		padding: 5%;
	}

	@include breakpoint($bp-full) {
		padding: 5% 7% 0;
	}
	
	h2 {
		@include rem(margin-bottom, 20px);
		font-family: $QLight;
		line-height: .9;
		
		@include breakpoint($bp-desk) {
			padding-right: 20%;
		}
	}
	
	.text {
		@include rem(margin-bottom, 30px);
		@include rem(font-size, 20px);
		line-height: 23px;

		@include breakpoint($bp-desk) {
			@include rem(font-size, 21px);
			line-height: 26px;
			@include rem(margin-bottom, 40px);
		}
	}
}