body.section-lab {

	.site-logo {
		@include get-sprite($icons-sprites, logo-large-black);
	
	  @include breakpoint($bp-desk) {
			@include get-sprite($icons-sprites, logo-small-black);
	  }	
	}
	
	.landing-header {
		height: 506px;

		.field--title-field {

			h1 {
				color: $color-green;
			}
		}

		.field--subtitle {
			width: 60%;
			color: $color-black;
	
		  @include breakpoint($bp-desk) {
				width: 260px;
				@include rem(margin-left, 20px);
		  }
		}
	
		.field--cta {
			
		  @include breakpoint($bp-desk) {
				@include rem(margin-left, 20px);
		  }
		}
	}
}

.block--bean-lab-first {
	position: relative;
	background: $color-green;
	padding: 8%;
	@include rem(font-size, 21px);
	@include rem(line-height, 24px);
	color: $color-white;
	
  @include breakpoint($bp-desk) {
		float: left;
		width: 50%;
		padding: 6% 6% 0;
  }
	
  @include breakpoint($bp-full) {
		padding: 6% 10% 0;
  }
	
	h4 {
		@include rem(margin-bottom, 20px);
	}
	
	.field--body {
		a {
			color: $color-white;
			display: block;
			text-decoration: none;
		
			&:before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
}

.block--bean-lab-second {
	@extend .block--bean-lab-first;
	background: $color-green-light;

  @include breakpoint($bp-tab) {
		clear: left;
  }
}

.block--bean-lab-third {
	position: relative;
	clear: both;
	padding: 30px;

  @include breakpoint($bp-desk) {
		padding: 60px 20px;
  }
	
	.field--body {
		
		@include breakpoint($bp-desk) {
			float: left;
			width: 64%;
			text-align: right;
		}
	}
	h2 {
		font-family: $QLight;
		color: $color-green;

		@include breakpoint($bp-desk) {
			margin-bottom: 0;
		}
	}
	
	.field--cta {
				
		@include breakpoint($bp-desk) {
			float: right;
			width: 30%;
		}
	}
}

// Row 1
.block--views-instagram-block, 
.block--views-blurbs-block-2 {
	float: left;
	width: 50%;
}

// Row 2
.block-views-blurbs-block-3, 
.block-views-instagram-block-1 {}

//

.block--bean-lab-first, 
.block--views-instagram-block, 
.block--views-blurbs-block-2,
.block--bean-lab-second, 
.block--views-blurbs-block-3, 
.block--views-instagram-block-1, 
.block--views-blurbs-block-4, 
.block--views-instagram-block-2, 
.block--views-instagram-block-3, 
.block--views-blurbs-block-5 {
	float: left;
}


