body.section-lab {

	.site-logo {
		@include get-sprite($icons-sprites, logo-large-black);
	
	  @include breakpoint($bp-desk) {
			@include get-sprite($icons-sprites, logo-small-black);
	  }	
	}
	
	.landing-header {
		height: 506px;

		.field--title-field {

			h1 {
				color: $color-green;
			}
		}

		.field--subtitle {
			width: 60%;
			color: $color-black;
	
		  @include breakpoint($bp-desk) {
				width: 260px;
				margin-left: 20px;
		  }
		}
	
		.field--cta {
			
		  @include breakpoint($bp-desk) {
				margin-left: 20px;
		  }
		}
	}
}