body.section-leadership {
	
	.landing-header {
		background-color: $color-orange-light;
		height: 300px;
		
	  @include breakpoint($bp-desk) {
			height: 506px;
			background-position: 50% 0;
	  }
		
		.field--subtitle {
			color: $color-black;
	
		  @include breakpoint($bp-tab) {
				width: 50%;
		  }
			
		}
	}
}

.block--bean-leadership-first {
	height: 330px;

  @include breakpoint($bp-tab) {
		height: 390px;
  }
	
  @include breakpoint($bp-desk) {
		height: 520px;
  }
	
  @include breakpoint($bp-full) {
		height: 618px;
  }
	
	.field--image {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		
		img {
			width: 100%;
			float: left;
		}
	}
	
	.field--body {
		padding: 8%;
		text-align: center;

	  @include breakpoint($bp-tab) {
			padding: 6%;
	  }

	  @include breakpoint($bp-desk) {
			padding: 9% 18%;
	  }

	  @include breakpoint($bp-full) {
			padding: 90px 240px;
	  }
	}
	
	h3 {
		@include rem(margin-bottom, 10px);
	}
	
	.text {

		@include breakpoint($bp-desk) {
			@include rem(font-size, 21px);
			line-height: 24px;
		}
	}
}

.block--bean-leadership-second {
	background: $color-green;
	color: $color-white;

	@include breakpoint($bp-desk) {
		height: 334px;
	}
	
	@include breakpoint($bp-full) {
		background: none;
		padding: 0;
		height: 524px;
	}
	
	.field--image {
		display: none;
		width: 100%;

	  @include breakpoint($bp-desk) {
			display: block;
	  }

		img {
			float: left;
			width: 100%;
		}
	}
	
	.field--body {
		padding: 6%;

	  @include breakpoint($bp-desk) {
			position: absolute;
			top: 0;
			left: 0;
			padding: 3% 35% 3% 5%;
	  }
		
	  @include breakpoint($bp-full) {
			padding: 7% 42% 3% 10%;
	  }
	}
	
	h4 {
		font-family: $QLight;
		@include rem(margin-bottom, 10px); 
	}
	
	.text {

		@include breakpoint($bp-desk) {
			@include rem(font-size, 18px);
		}

		@include breakpoint($bp-full) {
			@include rem(font-size, 21px);
			line-height: 24px;
		}
	}
}

// Leaders block
.block--views-leaders-block {
	@include clearfix;
	padding: 5%;

	@include breakpoint($bp-tab) {
		padding: 5% 10%;
	}
	
	h2 {
		font-family: $QLight;
		@include rem(font-size, 32px);
	}
	
	.view-leaders {

		.views-row {
			@include rem(margin-bottom, 20px);

			@include breakpoint($bp-tab) {
				float: left;
				width: 50%;
			}

			@include breakpoint($bp-full) {
				width: 25%;
				@include rem(padding-right, 20px);
			}
		}
		
		.field--leader-image {
			@include rem(margin-bottom, 10px);
		}
		.views-field-title {
			font-family: $QSemiB;
			@include rem(font-size, 24px);
		}
		.field--job-title {
			@include rem(font-size, 21px);
		}
	}
}