// 375px has been designed 
// 1366px has been designed

// 768 - 900
$bp768: 768px;

// 900 - 1366
$bp900: 900px;

// 1366 + 
$bp1366: 1366px;

// then the styles for 
$bp-tab: $bp768;
$bp-desk: $bp900;
$bp-full: $bp1366;