// Global Colors
$color-black: #000;
$color-white: #fff;

$color-green: #0095a8;
$color-green-light: #22acbd;
$color-purple: #93397f;
$color-darker-gray: #363636;
$color-dark-gray: #414042;
$color-medium-gray: #707070;
$color-mediumer-gray: #8c8b8b;
$color-mediumest-gray: #919191;

$color-light-gray: #b7b7b7;
$color-lighter-gray: #ebebeb;
$color-lightest-gray: #f3f3f3;
$color-orange: #f18a20;
$color-orange-light: #fcb614;

$color-default: $color-dark-gray;
