@font-face {
    font-family: 'Qualcomm-Bold';
    src: url('../fonts/QualcommWeb-Bold.eot');
    src: url('../fonts/QualcommWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/QualcommWeb-Bold.woff') format('woff'),
         url('../fonts/QualcommWeb-Bold.ttf') format('truetype'),
         url('../fonts/QualcommWeb-Bold.svg#QualcommWeb-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Qualcomm-Light';
    src: url('../fonts/QualcommWeb-Light.eot');
    src: url('../fonts/QualcommWeb-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/QualcommWeb-Light.woff') format('woff'),
         url('../fonts/QualcommWeb-Light.ttf') format('truetype'),
         url('../fonts/QualcommWeb-Light.svg#QualcommWeb-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Qualcomm-Regular';
    src: url('../fonts/QualcommWeb-Regular.eot');
    src: url('../fonts/QualcommWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/QualcommWeb-Regular.woff') format('woff'),
         url('../fonts/QualcommWeb-Regular.ttf') format('truetype'),
         url('../fonts/QualcommWeb-Regular.svg#QualcommWeb-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Qualcomm-Semibold';
    src: url('../fonts/QualcommWeb-Semibold.eot');
    src: url('../fonts/QualcommWeb-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/QualcommWeb-Semibold.woff') format('woff'),
         url('../fonts/QualcommWeb-Semibold.ttf') format('truetype'),
         url('../fonts/QualcommWeb-Semibold.svg#QualcommWeb-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
