# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
files/
sites/*/files
sites/*/private

# more drupal txt files
/UPGRADE.txt
/COPYRIGHT.txt
/INSTALL.mysql.txt
/INSTALL.pgsql.txt
/INSTALL.sqlite.txt
/INSTALL.txt
/LICENSE.txt
/MAINTAINERS.txt
/README.txt
/sites/README.txt
/themes/README.txt
/modules/README.txt
/web.config
