$sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;

@mixin get-sprite( $map, $sprite, $repeat: no-repeat ){
  $sprite-image: sprite-file( $map, $sprite );
  $sprite-map: sprite-url( $map );
  $sprite-position: sprite-position( $map, $sprite );

  //return background
  background: $sprite-map $sprite-position $repeat;

  $sprite-width: image-width( $sprite-image );
  $sprite-height: image-height( $sprite-image );

  //return width
  width: ( $sprite-width );
  //return height
  height: ( $sprite-height );
	content: "";
	display: inline-block;
}



