.l-page {
	width: 100%;
	
  @include breakpoint($bp-desk) {
		float: left;
		padding-left: 80px;
  }
	
	&:before {
		@include breakpoint($bp-desk) {
			content: "";
			position: fixed;
			top: 0;
			bottom: 0;
			left: 79px;
			border-left: 1px solid $color-lighter-gray;
		}
	}

	* {
	  -webkit-transition: all .5s ease;
	  -moz-transition: all .5s ease;
	  -ms-transition: all .5s ease;
	  -o-transition: all .5s ease;
	  transition: all .5s ease;
	}
}

.l-main {
	@include clearfix;
	@include rem(margin-bottom, 75px);
}

.content-bottom {
	@include clearfix;
}

h1.page-title {
	display: none; // Using Title module but some pages need this (taxonomy)
}