.l-page {
	width: 100%;
	
  @include breakpoint($bp-desk) {
		max-width: 1366px;
		float: left;
		padding-left: 80px;
  }
	
	&:before {
		@include breakpoint($bp-desk) {
			content: "";
			position: fixed;
			top: 0;
			bottom: 0;
			left: 79px;
			border-left: 1px solid $color-lighter-gray;
		}
	}
}

.content-bottom {
	@include clearfix;
}